.successText-section {
    /* display: flex; */
    /* background-color: #f5f5f5; */
    /* background-color: #0f192f; */
    background-color: #0f192f;


    /* padding: 40px; */
  }
  
  .successText-video {
    width: 100%;
    text-align: center;
    /* Add styling for the video component here */
  }
  
  .successText-content {
    width: 100%;
  }
  
  .successText-content h2 {
    font-size: 24px;
  }
  
  .successText-carousel {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .successText-cards-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .successText-card {
    background-color: #fff;
    padding: 20px;
    margin-right: 10px;
    min-width: 400px;
    border-radius: 18px;
  }
  
  .successText-card p {
    margin-bottom: 10px;
  }
  
  .successText-card p:last-child {
    font-weight: bold;
  }
  
  /* .podcast-carousel-arrows {
    display: flex;
   
    margin-top: 10px;
  } */
  
  .successText-carousel-arrow {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
  }
  /* .containerIframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
  }
  
  .responsive-iframe {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 300px;
  } */